/* Buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.button i {
    margin-right: 10px;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px var(--shadow-color);
}

.button.primary {
    background-color: var(--primary-color);
}

.button.primary:hover {
    background-color: color-mix(in srgb, var(--primary-color) 80%, black);
}

.button.secondary {
    background-color: var(--secondary-color);
}

.button.secondary:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 80%, black);
}

.button[disabled] {
    background-color: #bdc3c7;
    cursor: not-allowed;
}